<pre>


</pre>

## Start your mySQL Server from a terminal 
(if it isn't already running)

<code>sudo docker start course-mysql</code>
<pre>

</pre>
Don't forget that, if you use sqlMagic, you need to execute the connection lines in your Notebook!

<pre>
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
</pre>

## Create a new Python3 Jupyter Notebook in your Exam Answers folder

Commit and push this Notebook to GitHub when you are finished.

You must submit your answers to GitHub by 1800h Sept 14.

In [ ]:
#First we have to prepare the conexion between Computer(VM) -> Docker MySQL -> Jupyter notebook
print ("loading conexions and some SqlMagic...\n")
%load_ext sql
#%reload_ext sql #if we want to reconect
%config SqlMagic.autocommit=False # load SqlMagic for exercises 4 and 5
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql #conect with root@mysql



## Data Files
Germplasm.tsv and LocusGene.tsv contain the datasets we need for the exam.

Our objective is to create a database to contain the data in these files, insert the data into the database, then query the database in a variety of ways.


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

### Import

In [ ]:
import re
import io

### Open and check

In [ ]:
# OPEN BOTH FILES ("Germplasm.tsv" and "LocusGene.tsv"). 

file1 = open("Germplasm.tsv", "r") ##Open Germplasm.tsv and call it: file1. "r" = means read permissions.
print(file1.read()) #check the file

In [ ]:
file2 = open("LocusGene.tsv", "r") ##Open LocusGene.tsv and call it: file1. "r" = means read permissions.
print(file2.read()) #check the file

I have created both objects (file1 and file2) in case in the future I need to use the code again but with different files. I would have to change the match word and aldo the name of both files to compare.

### Code (Conditional loop)

In [ ]:
#file1 = open("Germplasm.tsv", "r") #Don't forget to open both files
#file2 = open("LocusGene.tsv", "r") #Don't forget to open both files

file1.seek(0) #(0) In file1 re-start the pointer to 0 every time that we want to run the code.
#file1.seek(0) #(0) Not need. We will do it each iteration at the beginning of the second loop 

list1 = [] #(1) Empty list1, we will need it to fill with the data that we will generate in tota_matches_file1
list2 = [] #(1) Empty list1, we will need it to fill with the data that we will generate in tota_matches_file1

a = 0 in range(1, 100) #(1) Control number, to calculate the iterations number (check step )


for search in file1.readlines(): #(2) for each "search" in the first file.
    match_in1 = re.search( r'(AT\w+)(\t)', search, re.M|re.I) #(3) create "match_in1" with the string that we want to search
    if match_in1: #(4) If this string exists do next (5-6) and create the next loop (8)
        total1 = match_in1.group(1) #(5) create an object with the search results in group 1 (I want to exclude the tab)
        list1.append(total1) #(6) Fill the list1 with the results obtained before
        file2.seek(0) #(7) re-start the pointer. We need to search in the whole file every time!
        for search2 in file2.readlines(): #(8) Do the same with the file2 (steps 3 to 6)
            match_in2 = re.search( r'(AT\w+)(\t)', search2, re.M|re.I) #(9) = (3) re.M = Multiline; re.I= case insensitive
            a = a + 1 #(10) Check point, Iterative number: we will check if the program ran correctly.
            if match_in2: #(11) If it's a match then:
                total2 = match_in2.group(1) #(12) create an object with the search withing group 2
                list2.append(total2) #(14) Fills the list2 with the info at total2
                if (total1) == (total2): #(13) Finally, if both results matches 
                    print ('Iteration', str(a), 'found', total2, 'match in both documents.') #Iteration = iteration number.
    else:
        print('Not found')

1. Note: the first result is "Not found", this is because the headers doesn't follow the rule that we have create for the matches ((AT\w+)(\t)). 
2. Iteration number it is absolutly not need but it helps me to better understand the loop process. In the same way, is usefull to appreciate the computational effort.
3. Check point: if we are doing right the number of iteratins should be less than the possible number of combinations in the table. 
4. An easier way to solve the problem could be using matrices and the column "locus" but I don't know how to use them.
5. Also, it could be solve with %sql and join the common parts and checking the result (if the number of cases are both equals we proove that the lines are the same.

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

First I'm going to create the database called "Exam2".

### Import

In [ ]:
%reload_ext sql #if we want to reconect
%config SqlMagic.autocommit=False # re-load SqlMagic

### Create a new database

In [ ]:
%sql drop database Exam2; #sql=specific comand to MySQL, drop = erase the table. 
%sql create database Exam2; # create database for create a database followed by the name (Exam2)
%sql show databases; #show the databases. Check if we are doing good.

### Creating tables inside Exam2 database

In [ ]:
%sql use Exam2; 
%sql show tables;

#### Germplasm table

In [457]:
%sql drop table Germplasm;
%sql CREATE TABLE Germplasm(Locus_germ INTEGER NOT NULL PRIMARY KEY, germplasm VARCHAR(10) NOT NULL, phenotype VARCHAR(1230) NOT NULL, pubmed VARCHAR(70) NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

#### LocusGene table

In [459]:
%sql drop table LocusGene;
%sql CREATE TABLE LocusGene(Locus_gene INTEGER NOT NULL PRIMARY KEY, Gene VARCHAR(50) NOT NULL, ProteinLength VARCHAR(50) NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [461]:
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm',), ('LocusGene',)]

As we can check with show databases, the tables have been created correctly.

### Linking tables

In [463]:
%sql SELECT * FROM Germplasm INNER JOIN LocusGene ON Locus_germ = Locus_gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

### Import and conexions

In [ ]:
import pymysql.cursors

# Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

### Read and fill

#### Germplasm table

In [ ]:
#%sql SELECT * FROM LocusGene INNER JOIN germplasm.tsv ON \ germplasm.locus = locus

# Connect to the database. COPY AND PASTE TODO EL TIEMPO EXCEPT DE DB NAME. CHANGE DE DB=
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

<pre>

</pre>
## Don't forget to commit and push your answers before you leave!

It was wonderful to have you in my class!  I hope to see you again soon!

Good luck with your careers!!

Mark