<pre>


</pre>

## Start your mySQL Server from a terminal 
(if it isn't already running)

<code>sudo docker start course-mysql</code>
<pre>

</pre>
Don't forget that, if you use sqlMagic, you need to execute the connection lines in your Notebook!

<pre>
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
</pre>

## Create a new Python3 Jupyter Notebook in your Exam Answers folder

Commit and push this Notebook to GitHub when you are finished.

You must submit your answers to GitHub by 1800h Sept 14.

In [211]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [212]:
%config SqlMagic.autocommit=False

In [213]:
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

First we have to prepare the conexion between Computer(VM) -> Docker MySQL -> Jupyter notebook
#print ("loading conexions and some SqlMagic...\n")
#%load_ext sql
#%reload_ext sql #if we want to reconect
#%config SqlMagic.autocommit=False # load SqlMagic for exercises 4 and 5
#%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql #conect with root@mysql



## Data Files
Germplasm.tsv and LocusGene.tsv contain the datasets we need for the exam.

Our objective is to create a database to contain the data in these files, insert the data into the database, then query the database in a variety of ways.


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

### Import

In [214]:
import re
import io

### Open and check

In [215]:
# OPEN BOTH FILES ("Germplasm.tsv" and "LocusGene.tsv"). 

file1 = open("Germplasm.tsv", "r") ##Open Germplasm.tsv and call it: file1. "r" = means read permissions.
print(file1.read()) #check the file

Locus	germplasm	phenotype	pubmed
AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351
AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401
AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125
AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744
AT2G03720	SALK_042433	Multiple straight hairs	16367956
AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505
AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900
AT2G05210	pot1-1	No visible phenotype.	17627276
AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837
AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180
AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444
AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653
AT3G02310	sep2-1	Non-described subtle phenotype.	10821278
AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843
AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770
AT3G02870	vtc4-1	ascorbate deficient	16595667
AT3G03260	hdg8-1	No visible phenotype.	16778018
AT4G14790	pdd17	Defective pollen development.	19237690
AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066
AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425
AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186
AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662
AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499
AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832
AT4G16480	atint4-2	No visible phenotype.	16603666
AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749
AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244
AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216
AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401
AT5G11510	myb3r4-1	No visible phenotype.	17287251
AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687
AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678

In [216]:
file2 = open("LocusGene.tsv", "r") ##Open LocusGene.tsv and call it: file1. "r" = means read permissions.
print(file2.read()) #check the file

Locus	Gene	ProteinLength
AT1G01040	DCL1	332
AT1G01060	LHY	290
AT1G01140	CIPK9	223
AT1G01220	FKGP	190
AT2G03720	MRH6	189
AT2G03800	GEK1	196
AT2G04240	XERICO	256
AT2G05210	POT1A	221
AT3G02130	RPK2	284
AT3G02140	TMAC2	300
AT3G02230	RGP1	301
AT3G02260	BIG	279
AT3G02310	SEP2	175
AT3G02680	NBS1	190
AT3G02850	SKOR	234
AT3G02870	VTC4	311
AT3G03260	HDG8	194
AT4G14790	SUV3	312
AT4G15210	BAM5	313
AT4G15560	DXS	219
AT4G15570	MAA3	294
AT4G15802	HSBP	254
AT4G15880	ESD4	265
AT4G16420	ADA2B	279
AT4G16480	INT4	284
AT5G10480	PAS2	301
AT5G10510	AIL6	310
AT5G11110	SPS2	232
AT5G11260	HY5	221
AT5G11510	MYB3R-4	336
AT5G12200	PYD2	310
AT5G13290	CRN	189

I have created both objects (file1 and file2) in case in the future I need to use the code again but with different files. I would have to change the match word and aldo the name of both files to compare.

### Code (Conditional loop)

In [217]:
#file1 = open("Germplasm.tsv", "r") #Don't forget to open both files
#file2 = open("LocusGene.tsv", "r") #Don't forget to open both files

file1.seek(0) #(0) In file1 re-start the pointer to 0 every time that we want to run the code.
#file1.seek(0) #(0) Not need. We will do it each iteration at the beginning of the second loop 

list1 = [] #(1) Empty list1, we will need it to fill with the data that we will generate in tota_matches_file1
list2 = [] #(1) Empty list1, we will need it to fill with the data that we will generate in tota_matches_file1

a = 0 in range(1, 100) #(1) Control number, to calculate the iterations number (check step )


for search in file1.readlines(): #(2) for each "search" in the first file.
    match_in1 = re.search( r'(AT\w+)(\t)', search, re.M|re.I) #(3) create "match_in1" with the string that we want to search
    if match_in1: #(4) If this string exists do next (5-6) and create the next loop (8)
        total1 = match_in1.group(1) #(5) create an object with the search results in group 1 (I want to exclude the tab)
        list1.append(total1) #(6) Fill the list1 with the results obtained before
        file2.seek(0) #(7) re-start the pointer. We need to search in the whole file every time!
        for search2 in file2.readlines(): #(8) Do the same with the file2 (steps 3 to 6)
            match_in2 = re.search( r'(AT\w+)(\t)', search2, re.M|re.I) #(9) = (3) re.M = Multiline; re.I= case insensitive
            a = a + 1 #(10) Check point, Iterative number: we will check if the program ran correctly.
            if match_in2: #(11) If it's a match then:
                total2 = match_in2.group(1) #(12) create an object with the search withing group 2
                list2.append(total2) #(14) Fills the list2 with the info at total2
                if (total1) == (total2): #(13) Finally, if both results matches 
                    print ('Iteration', str(a), 'found', total2, 'match in both documents.') #Iteration = iteration number.
    else:
        print('Not found')

Not found
Iteration 2 found AT1G01040 match in both documents.
Iteration 36 found AT1G01060 match in both documents.
Iteration 70 found AT1G01140 match in both documents.
Iteration 104 found AT1G01220 match in both documents.
Iteration 138 found AT2G03720 match in both documents.
Iteration 172 found AT2G03800 match in both documents.
Iteration 206 found AT2G04240 match in both documents.
Iteration 240 found AT2G05210 match in both documents.
Iteration 274 found AT3G02130 match in both documents.
Iteration 308 found AT3G02140 match in both documents.
Iteration 342 found AT3G02230 match in both documents.
Iteration 376 found AT3G02260 match in both documents.
Iteration 410 found AT3G02310 match in both documents.
Iteration 444 found AT3G02680 match in both documents.
Iteration 478 found AT3G02850 match in both documents.
Iteration 512 found AT3G02870 match in both documents.
Iteration 546 found AT3G03260 match in both documents.
Iteration 580 found AT4G14790 match in both documents.
Iteration 614 found AT4G15210 match in both documents.
Iteration 648 found AT4G15560 match in both documents.
Iteration 682 found AT4G15570 match in both documents.
Iteration 716 found AT4G15802 match in both documents.
Iteration 750 found AT4G15880 match in both documents.
Iteration 784 found AT4G16420 match in both documents.
Iteration 818 found AT4G16480 match in both documents.
Iteration 852 found AT5G10480 match in both documents.
Iteration 886 found AT5G10510 match in both documents.
Iteration 920 found AT5G11110 match in both documents.
Iteration 954 found AT5G11260 match in both documents.
Iteration 988 found AT5G11510 match in both documents.
Iteration 1022 found AT5G12200 match in both documents.
Iteration 1056 found AT5G13290 match in both documents.

1. Note: the first result is "Not found", this is because the headers doesn't follow the rule that we have create for the matches ((AT\w+)(\t)). 
2. Iteration number it is absolutly not need but it helps me to better understand the loop process. In the same way, is usefull to appreciate the computational effort.
3. Check point: if we are doing right the number of iteratins should be less than the possible number of combinations in the table. 
4. An easier way to solve the problem could be using matrices and the column "locus" but I don't know how to use them.
5. Also, it could be solve with %sql and join the common parts and checking the result (if the number of cases are both equals we proove that the lines are the same.

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

## Database desing: Policy

1. The Locus will be the PRIMARY KEY of both tables. They have to be UNIQUE.
    1.A In case that you have a repeticion of any Locus you can add (.1 to .n). BUT! In this database is better to don't do it (It will be better to create another database with auto_icremented value as a primary key)
2. Null is not allowed.
3. Use "unknown" if you don't know the information.

### Import

In [218]:
%config SqlMagic.autocommit=False # re-load SqlMagic

### Create a new database

In [219]:
%sql drop database Exam2; #sql=specific comand to MySQL, drop = erase the table. 
%sql create database Exam2; # create database for create a database followed by the name (Exam2)
%sql show databases; #show the databases. Check if we are doing good.

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
8 rows affected.
0 rows affected.

[]

### Creating tables inside Exam2 database

In [220]:
%sql use Exam2; 
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

#### A) Germplasm table

In [222]:
#%sql drop table Germplasm;
%sql CREATE TABLE Germplasm(Locus_germ VARCHAR(20) NOT NULL PRIMARY KEY, germplasm VARCHAR(60) NOT NULL, phenotype VARCHAR(2000) NOT NULL, pubmed VARCHAR(70) NOT NULL);
%sql DESCRIBE Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('Locus_germ', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(60)', 'NO', '', None, ''),
 ('phenotype', 'varchar(2000)', 'NO', '', None, ''),
 ('pubmed', 'varchar(70)', 'NO', '', None, '')]

#### B) LocusGene table

In [223]:
#%sql drop table LocusGene;
%sql CREATE TABLE LocusGene(Locus_gene VARCHAR(50) NOT NULL PRIMARY KEY, Gene VARCHAR(50) NOT NULL, ProteinLength VARCHAR(50) NOT NULL);
%sql DESCRIBE LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus_gene', 'varchar(50)', 'NO', 'PRI', None, ''),
 ('Gene', 'varchar(50)', 'NO', '', None, ''),
 ('ProteinLength', 'varchar(50)', 'NO', '', None, '')]

In [224]:
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm',), ('LocusGene',)]

As we can check with show databases, the tables have been created correctly.

### Linking tables

In [225]:
%sql SELECT * FROM Germplasm INNER JOIN LocusGene ON Locus_germ = Locus_gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

I choosed INNER JOIN because I want to join both tables with all the data in common (Locus) both are primary keys.

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

### Import and conexions

In [226]:
import pymysql.cursors
import csv
#csv.list_dialects() #extra info for specific formats

# Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

### Read and fill

#### Germplasm table

In [229]:
%sql drop table Germplasm;
%sql CREATE TABLE Germplasm(Locus_germ VARCHAR(20) NOT NULL PRIMARY KEY, germplasm VARCHAR(60) NOT NULL, phenotype VARCHAR(2000) NOT NULL, pubmed VARCHAR(70) NOT NULL);


# Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor: 
        with open('Germplasm.tsv') as csvfile:
            GermReader = csv.DictReader(csvfile, delimiter='\t', quotechar='"', fieldnames=("Locus", "germplasm", "phenotype", "pubmed"))                          
            for row in GermReader:
                normaldict = dict(row) 
                print(row) #Check point, no need in the code.
                sql = """INSERT INTO Germplasm(Locus_germ, germplasm, phenotype, pubmed) values
                ('{}', '{}', '{}', '{}')""".format(row["Locus"], row["germplasm"], row["phenotype"], row["pubmed"])
                cursor.execute(sql)
    connection.commit() # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE

finally:
    #print("")
    connection.close() # if I close before I commit, the inserts are lost

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
OrderedDict([('Locus', 'Locus'), ('germplasm', 'germplasm'), ('phenotype', 'phenotype'), ('pubmed', 'pubmed')])
OrderedDict([('Locus', 'AT1G01040'), ('germplasm', 'CS3828'), ('phenotype', 'Increased abundance of miRNA precursors.'), ('pubmed', '17369351')])
OrderedDict([('Locus', 'AT1G01060'), ('germplasm', 'lhy-101'), ('phenotype', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.'), ('pubmed', '16891401')])
OrderedDict([('Locus', 'AT1G01140'), ('germplasm', 'SALK_058629'), ('phenotype', 'hypersensitive to low potassium media'), ('pubmed', '17486125')])
OrderedDict([('Locus', 'AT1G01220'), ('germplasm', 'SALK_012400C'), ('phenotype', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.'), ('pubmed', '18199744')])
OrderedDict([('Locus', 'AT2G03720'), ('germplasm', 'SALK_042433'), ('phenotype', 'Multiple straight hairs'), ('pubmed', '16367956')])
OrderedDict([('Locus', 'AT2G03800'), ('germplasm', 'gek1-1'), ('phenotype', 'Ethanol hypersensitivity.'), ('pubmed', '15215505')])
OrderedDict([('Locus', 'AT2G04240'), ('germplasm', 'xerico'), ('phenotype', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.'), ('pubmed', '17933900')])
OrderedDict([('Locus', 'AT2G05210'), ('germplasm', 'pot1-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '17627276')])
OrderedDict([('Locus', 'AT3G02130'), ('germplasm', 'rpk2-2'), ('phenotype', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.'), ('pubmed', '17419837')])
OrderedDict([('Locus', 'AT3G02140'), ('germplasm', 'afp4-1'), ('phenotype', 'Decreased germination on high concentrations of glucose and sorbitol.'), ('pubmed', '18484180')])
OrderedDict([('Locus', 'AT3G02230'), ('germplasm', 'rgp1-1'), ('phenotype', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.'), ('pubmed', '21478444')])
OrderedDict([('Locus', 'AT3G02260'), ('germplasm', 'tir3-1 RGLG1:rglg1 rglg2'), ('phenotype', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.'), ('pubmed', '17586653')])
OrderedDict([('Locus', 'AT3G02310'), ('germplasm', 'sep2-1'), ('phenotype', 'Non-described subtle phenotype.'), ('pubmed', '10821278')])
OrderedDict([('Locus', 'AT3G02680'), ('germplasm', 'atnbs1-1'), ('phenotype', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.'), ('pubmed', '17672843')])
OrderedDict([('Locus', 'AT3G02850'), ('germplasm', 'CS3816'), ('phenotype', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.'), ('pubmed', '17568770')])
OrderedDict([('Locus', 'AT3G02870'), ('germplasm', 'vtc4-1'), ('phenotype', 'ascorbate deficient'), ('pubmed', '16595667')])
OrderedDict([('Locus', 'AT3G03260'), ('germplasm', 'hdg8-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '16778018')])
OrderedDict([('Locus', 'AT4G14790'), ('germplasm', 'pdd17'), ('phenotype', 'Defective pollen development.'), ('pubmed', '19237690')])
OrderedDict([('Locus', 'AT4G15210'), ('germplasm', 'bmy1-2'), ('phenotype', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.'), ('pubmed', '16297066')])
OrderedDict([('Locus', 'AT4G15560'), ('germplasm', 'cla1-1'), ('phenotype', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.'), ('pubmed', '10982425')])
OrderedDict([('Locus', 'AT4G15570'), ('germplasm', 'maa3'), ('phenotype', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.'), ('pubmed', '18772186')])
OrderedDict([('Locus', 'AT4G15802'), ('germplasm', 'Athspb-2'), ('phenotype', 'Early flowering, reduced fertility, aborted seeds.'), ('pubmed', '20388662')])
OrderedDict([('Locus', 'AT4G15880'), ('germplasm', 'esd4-2'), ('phenotype', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.'), ('pubmed', '17513499')])
OrderedDict([('Locus', 'AT4G16420'), ('germplasm', 'prz1-1'), ('phenotype', 'Altered response to auxin and cytokinin'), ('pubmed', '12747832')])
OrderedDict([('Locus', 'AT4G16480'), ('germplasm', 'atint4-2'), ('phenotype', 'No visible phenotype.'), ('pubmed', '16603666')])
OrderedDict([('Locus', 'AT5G10480'), ('germplasm', 'pas2-3'), ('phenotype', 'Segregates 25% embryo lethal.'), ('pubmed', '18799749')])
OrderedDict([('Locus', 'AT5G10510'), ('germplasm', 'plt3-1'), ('phenotype', 'Short roots and shortened root meristem.'), ('pubmed', '17960244')])
OrderedDict([('Locus', 'AT5G11110'), ('germplasm', 'kns2'), ('phenotype', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.'), ('pubmed', '18779216')])
OrderedDict([('Locus', 'AT5G11260'), ('germplasm', 'hy5-101'), ('phenotype', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.'), ('pubmed', '16891401')])
OrderedDict([('Locus', 'AT5G11510'), ('germplasm', 'myb3r4-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '17287251')])
OrderedDict([('Locus', 'AT5G12200'), ('germplasm', 'pyd2-2'), ('phenotype', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.'), ('pubmed', '19413687')])
OrderedDict([('Locus', 'AT5G13290'), ('germplasm', 'crn-1'), ('phenotype', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.'), ('pubmed', '12345678')])

I filled the table Germplasm with the data from the file "Germplasm.tsv".

First of all I prepared the conection for the database. Then I used try with for teast my lines, the table will be loaded if everithing is OK (finally print and close the connection.

I created a reader called Germreader. I specified that our file it is tab delimited, also I put quotechar (just in case) and I specified the name of the headers in order. After the creation of this object (GermReader). I created a loop.

This loops insert into our empty table (Germplasm) with the headers specified in (), and asings the character values '{}' (referst to the VARCHAR that I created before in exercise 2) that found in the row (row["Locus"], row["germplasm"], row["phenotype"], row["pubmed"]). Format help us to introduce the correct type of format.

If we open the table we will see that its now the table is filled:

In [230]:
%sql SELECT * FROM Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351'),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401'),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125'),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', '18199744'),
 ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', '16367956'),
 ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', '15215505'),
 ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', '17933900'),
 ('AT2G05210', 'pot1-1', 'No visible phenotype.', '17627276'),
 ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', '17419837'),
 ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', '18484180'),
 ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', '21478444'),
 ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', '17586653'),
 ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', '10821278'),
 ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', '17672843'),
 ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770'),
 ('AT3G02870', 'vtc4-1', 'ascorbate deficient', '16595667'),
 ('AT3G03260', 'hdg8-1', 'No visible phenotype.', '16778018'),
 ('AT4G14790', 'pdd17', 'Defective pollen development.', '19237690'),
 ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', '16297066'),
 ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', '10982425'),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186'),
 ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', '20388662'),
 ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', '17513499'),
 ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', '12747832'),
 ('AT4G16480', 'atint4-2', 'No visible phenotype.', '16603666'),
 ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', '18799749'),
 ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', '17960244'),
 ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', '18779216'),
 ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', '16891401'),
 ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', '17287251'),
 ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', '19413687'),
 ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', '12345678'),
 ('Locus', 'germplasm', 'phenotype', 'pubmed')]

#### Locusgene table

I'm going to do the same for the empty Locusgene table that I have created before:

In [231]:
%sql drop table LocusGene;
%sql CREATE TABLE LocusGene(Locus_gene VARCHAR(50) NOT NULL PRIMARY KEY, Gene VARCHAR(50) NOT NULL, ProteinLength VARCHAR(50) NOT NULL);
#I use the code again, just to code faster.

#Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor: 
        with open('LocusGene.tsv') as csvfile:
            LocusReader = csv.DictReader(csvfile, delimiter='\t', quotechar='"', fieldnames=("Locus", "Gene", "ProteinLength"))                          
            for row in LocusReader:
                normaldict = dict(row)
                #print(row)
                sql = """INSERT INTO LocusGene(Locus_gene, Gene, ProteinLength) values
                ('{}', '{}', '{}')""".format(row["Locus"], row["Gene"], row["ProteinLength"])
                cursor.execute(sql)
    connection.commit() # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE

finally:
    #print("")
    connection.close() # if I close before I commit, the inserts are lost

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

In [232]:
#Germ = csv.DictReader(csvfile, delimiter \t, fieldnames=("Locus", "germplasm", "phenotype","phenotype"))

%sql SELECT * FROM LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.

[('AT1G01040', 'DCL1', '332'),
 ('AT1G01060', 'LHY', '290'),
 ('AT1G01140', 'CIPK9', '223'),
 ('AT1G01220', 'FKGP', '190'),
 ('AT2G03720', 'MRH6', '189'),
 ('AT2G03800', 'GEK1', '196'),
 ('AT2G04240', 'XERICO', '256'),
 ('AT2G05210', 'POT1A', '221'),
 ('AT3G02130', 'RPK2', '284'),
 ('AT3G02140', 'TMAC2', '300'),
 ('AT3G02230', 'RGP1', '301'),
 ('AT3G02260', 'BIG', '279'),
 ('AT3G02310', 'SEP2', '175'),
 ('AT3G02680', 'NBS1', '190'),
 ('AT3G02850', 'SKOR', '234'),
 ('AT3G02870', 'VTC4', '311'),
 ('AT3G03260', 'HDG8', '194'),
 ('AT4G14790', 'SUV3', '312'),
 ('AT4G15210', 'BAM5', '313'),
 ('AT4G15560', 'DXS', '219'),
 ('AT4G15570', 'MAA3', '294'),
 ('AT4G15802', 'HSBP', '254'),
 ('AT4G15880', 'ESD4', '265'),
 ('AT4G16420', 'ADA2B', '279'),
 ('AT4G16480', 'INT4', '284'),
 ('AT5G10480', 'PAS2', '301'),
 ('AT5G10510', 'AIL6', '310'),
 ('AT5G11110', 'SPS2', '232'),
 ('AT5G11260', 'HY5', '221'),
 ('AT5G11510', 'MYB3R-4', '336'),
 ('AT5G12200', 'PYD2', '310'),
 ('AT5G13290', 'CRN', '189'),
 ('Locus', 'Gene', 'ProteinLength')]

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [ ]:
#to convert to a normal Dictionary, do the following
        #normaldict = dict(row)  # convert to normal dictionary
        #print(list(normaldict.values()))

### Import and conect

In [233]:
import csv
import io

#Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#### 0. Report file

In [234]:
Report = open("report.txt", "w+")
print(Report)
print(Report.read())

<_io.TextIOWrapper name='report.txt' mode='w+' encoding='UTF-8'>

#### 1. Report. Full, joined, content of the two databases

In [263]:
join = %sql SELECT locus_germ, germplasm, phenotype, pubmed FROM Germplasm INNER JOIN LocusGene ON Locus_germ = Locus_gene
report1 = print(list(join))

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.
[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351'), ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401'), ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125'), ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', '18199744'), ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', '16367956'), ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', '15215505'), ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', '17933900'), ('AT2G05210', 'pot1-1', 'No visible phenotype.', '17627276'), ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', '17419837'), ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', '18484180'), ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', '21478444'), ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', '17586653'), ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', '10821278'), ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', '17672843'), ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770'), ('AT3G02870', 'vtc4-1', 'ascorbate deficient', '16595667'), ('AT3G03260', 'hdg8-1', 'No visible phenotype.', '16778018'), ('AT4G14790', 'pdd17', 'Defective pollen development.', '19237690'), ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', '16297066'), ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', '10982425'), ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186'), ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', '20388662'), ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', '17513499'), ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', '12747832'), ('AT4G16480', 'atint4-2', 'No visible phenotype.', '16603666'), ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', '18799749'), ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', '17960244'), ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', '18779216'), ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', '16891401'), ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', '17287251'), ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', '19413687'), ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', '12345678'), ('Locus', 'germplasm', 'phenotype', 'pubmed')]

#### 2. Report. Genes SKOR and MAA3

In [256]:
import csv

report2 = ()
LocusGene = open("LocusGene.tsv", "r")


LocusGene.seek(0)

with open('LocusGene.tsv') as csvfile:
    locus_Reader = csv.DictReader(csvfile, delimiter="\t", quotechar='"')
    LocusGene.seek(0)
    #matchSKOR = re.search( r'[(SKOR")("MAA3")]', item["Gene"], re.M|re.I)
    #matchMAA3 = re.search( r'(MAA3)', item["Gene"], re.M|re.I)
    for item in locus_Reader:
        matchObj = re.search( r'((SKOR)|(MAA3))', item["Gene"], re.M|re.I)
        if matchObj:
            report2 = print("Gene: {} found at Locus Gene {}".format(item["Gene"], item["Locus"]))

Gene: SKOR found at Locus Gene AT3G02850
Gene: MAA3 found at Locus Gene AT4G15570

#### 3. Entries of Chr 1 and Chr 5.

In [267]:
import csv

report2 = ()
LocusGene = open("Germplasm.tsv", "r")


LocusGene.seek(0)

with open('Germplasm.tsv') as csvfile:
    locus_Reader = csv.DictReader(csvfile, delimiter="\t", quotechar='"')
    LocusGene.seek(0)
    for item in locus_Reader:
        matchObj = re.search( r'((AT1)\w+|(AT5)\w+)', item["Locus"], re.M|re.I)
        if matchObj:
            report2 = print("Entrie: {}".format(item["Locus"]))

Entrie: AT1G01040
Entrie: AT1G01060
Entrie: AT1G01140
Entrie: AT1G01220
Entrie: AT5G10480
Entrie: AT5G10510
Entrie: AT5G11110
Entrie: AT5G11260
Entrie: AT5G11510
Entrie: AT5G12200
Entrie: AT5G13290

#### 4. Average protein lenght for the genes AT1 and AT5

In [ ]:
import csv

report2 = ()
LocusGene = open("Germplasm.tsv", "r")


LocusGene.seek(0)

with open('Germplasm.tsv') as csvfile:
    locus_Reader = csv.DictReader(csvfile, delimiter="\t", quotechar='"')
    LocusGene.seek(0)
    for item in locus_Reader:
        matchObj = re.search( r'((AT1)\w+|(AT5)\w+)', item["Locus"], re.M|re.I)
        if matchObj:
            report2 = print("Entrie: {}".format(item["Locus"]))

In [ ]:
# Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        with open('LocusGene.tsv') as csvfile:
            LocusReader = csv.DictReader(csvfile, delimiter='\t', quotechar='"', fieldnames=("Locus", "germplasm", "phenotype"))                          
            for row in LocusReader:
                print(row)  
                sql = """INSERT INTO project (locus, germplasm, projectid) values
                ('{}', '{}', '{}')""".format(row["Locus"], row["germplasm"], row["phenotype"])
                cursor.execute(sql)
    connection.commit() # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE

finally:
    #print("")
    connection.close() # if I close before I commit, the inserts are lost

<pre>

</pre>
## Don't forget to commit and push your answers before you leave!

It was wonderful to have you in my class!  I hope to see you again soon!

Good luck with your careers!!

Mark